body
{
    font-family: 'Nunito', sans-serif;
}
.colorgreen
{
    color: #7dbe41;
}
.colorgreen2
{
    color:#007935;
}
.colorwhite
{
    color:#FFF;
}
.btn, .btn-large, .btn-small
{
    border: 1px solid #7dbe41;
    background-color:transparent;
    border-radius: 30PX;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: #7dbe41;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #7dbe41;
}
.nunita
{
    font-family: 'Nunito', sans-serif;
}
.lato
{
    font-family: 'Lato', sans-serif;
}
.BotonVerde
{
    background-color: #7dbe41;
    border-radius: 21px;
    color: #FFF;
}
.BotonGris
{
    background-color: #293238;
    border-radius: 21px;
    color: #FFF;
}


@media only screen and (max-width: 600px) {
    .texto {
      text-align: center;
    }
  }
html{

  background-color: #293238
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
